:root {
  --color-primary: #2e7d32;
  --color-secondary: #8d6e63;
  --color-tertiary: #607d8b;
  --color-accent: #2196f3;
  --color-gold: #d4af37;

  --hue-neutral: 123;
  --hue-wrong: 0;
  --hue-correct: 145;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1600px;
}

#explanation,
#question-container {
  width: 100%;
  margin: 20px 0;
}

#question-container {
  background: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
}

.btn,
.start-btn,
.next-btn,
.btn.answer-btn {
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  background: var(--color-primary);
  color: white;
  cursor: pointer;
  transition: background 0.3s ease-in-out, transform 0.2s ease-in-out;
  font-size: 1rem;
  font-weight: bold;
}

.btn:hover,
.start-btn:hover,
.next-btn:hover,
.btn.answer-btn:hover {
  background: var(--color-secondary);
  transform: scale(1.05);
}

.btn.correct,
.btn.wrong,
.start-btn,
.next-btn,
.btn.answer-btn {
  --hue: var(--hue-wrong);
}

.controls {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hide {
  display: none;
}

h1,
p {
  color: var(--color-primary);
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background: var(--color-primary);
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}

button:hover {
  background: var(--color-secondary);
}

.map-container {
  width: 100%;
  height: 500px;
}

.country {
  fill: #3f98d3;
  stroke: #fff;
  stroke-width: 1;
}
