:root {
  --color-primary: #607d8b; /* Greyish Blue-Gray */
  --color-secondary: #455a64; /* Darker Blue-Gray */
  --color-accent: #2196f3; /* Accent Blue */
  --color-background: #333; /* Charcoal Background */
  --color-text: #000; /* Black Text */
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: var(--color-background);
  color: var(--color-text);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  max-width: 1200px;
  background: var(--color-background);
  padding: 40px;
  border-radius: 10px;
}

#explanation,
#question-container {
  width: 100%;
  margin: 20px 0;
}

#question-container {
  border-radius: 10px;
  padding: 20px;
}

.btn,
.start-btn,
.next-btn,
.btn.answer-btn {
  padding: 12px 24px;
  border-radius: 25px;
  border: none;
  background: var(--color-primary);
  color: white;
  cursor: pointer;
  transition: background 0.3s ease-in-out, transform 0.2s ease-in-out;
  font-size: 1rem;
  font-weight: bold;
}

.btn:hover,
.start-btn:hover,
.next-btn:hover,
.btn.answer-btn:hover {
  background: var(--color-secondary);
}

.controls {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.hide {
  display: none;
}

h1,
p {
  color: var(--color-primary);
}

button {
  padding: 12px 24px;
  font-size: 16px;
  background: var(--color-primary);
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}

button:hover {
  background: var(--color-secondary);
}

.map-container {
  width: 70%;
  height: 100%;
}

.country {
  fill: #3f98d3;
  stroke: #fff;
  stroke-width: 1;
}
