*, *::before, *::after{
box-sizing: border-box;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

:root{
    --hue-neutral: 123;
    --hue-wrong:0;
    --hue-correct: 145;
}

body{
}

body.correct{
    --hue: var(--hue-correct);
}

body.wrong{
    --hue: var(--hue-wrong);
}

div {
display: block;
justify-content: center;
align-items: center;
}

.container{
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    /*background-color: hsl(var(--hue),100%,20%);*/
    background-image: url(resources/imgs/lonetrees.jpg);
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
   /* filter: blur(8px);
    -webkit-filter: blur(8px);*/
}

#explanation{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 800px;
    max-width: 80%;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
}

#question-container{
    width: 800px;
    max-width: 80%;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
}

.btn-grid{
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
}

.btn{
    --hue: var(--hue-neutral);
    padding: 5px 10px;
    /*outline: none; */
    border-radius: 20px;
    border-color: black;
    background: #2196F3;
    box-shadow:  -6px 6px 12px #929292,
                 6px -6px 12px #ffffff;

}

.btn:hover{
    border-color: rgb(29, 22, 22);
    cursor: pointer;
    transition: linear 0.25s;
    transform: scale(1.02);
    background: linear-gradient(225deg,#f0f0f0 #cacaca);
}

.btn.correct{
    --hue:-var(--hue-correct);
}

.btn.wrong{
    --hue:-var(--hue-wrong);
}

.start-btn, .next-btn {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
}

.controls {
display: flex;
justify-content: center;
align-items: center;
}

.hide{
    display: none;
}
