/* styles.css */

:root {
  --color-primary: #2e7d32;
  --color-secondary: #8d6e63;
  --color-tertiary: #607d8b;
  --color-accent: #2196f3;
  --color-gold: #d4af37;

  --hue-neutral: 123;
  --hue-wrong: 0;
  --hue-correct: 145;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

body {
  --hue: var(--hue-neutral);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

body.correct {
  --hue: var(--hue-correct);
}

body.wrong {
  --hue: var(--hue-wrong);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 800px; /* Adjust as needed */
  background-color: transparent;
}

#explanation {
  width: inherit;
  margin: 20px 0;
  background-color: transparent;
}

#question-container {
  width: 100%;
  margin: 20px 0;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
}

.btn-grid {
  display: grid;
  grid-template-columns: repeat(1, auto);
  gap: 10px;
  margin: 20px 0;
}

.btn,
.start-btn,
.next-btn,
.btn.answer-btn {
  --hue: var(--hue-neutral);
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  background: var(--color-primary);
  color: white;
  cursor: pointer;
  transition: background 0.3s ease-in-out, transform 0.2s ease-in-out;
}

.btn:hover,
.start-btn:hover,
.next-btn:hover,
.btn.answer-btn:hover {
  background: var(--color-secondary);
  transform: scale(1.05);
}

.btn.correct,
.btn.wrong,
.start-btn,
.next-btn,
.btn.answer-btn {
  --hue: var(--hue-wrong);
}

.start-btn,
.next-btn,
.btn.answer-btn {
  font-size: 1.5rem;
  font-weight: bold;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.hide {
  display: none;
}

h1 {
  color: var(--color-primary); /* Dark green for the header text */
}

p {
  color: var(--color-primary);
}

#correct-answers-count {
  font-weight: bold;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: var(--color-primary);
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: var(--color-secondary);
}
