@media only screen and (max-width: 1920px) {
  /* Styles for 1920px width screens */
}

@media only screen and (max-width: 768px) {
  /* Styles for 768px width screens */
}

@media only screen and (max-width: 480px) {
  /* Styles for 480px width screens */
}

:root {
  --color-primary: #4caf50; /* Bright Green */
  --color-secondary: #8bc34a; /* Lighter Green */
  --color-accent: #2196f3; /* Accent Blue */
  --color-background: #f5f5f5; /* Light Gray Background */
  --color-text: #333; /* Dark Gray Text */
  font-family: "Poppins", sans-serif;
}

.hide {
  display: none;
  visibility: hidden;
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  background-image: url("images/baggrund.jpg");
  background-size: cover;
  background-position: center;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
}

html,
body {
  height: 100vh; /* Set the height to the full viewport height */
  margin: 0;
  padding: 0;
  overflow: hidden; /* Prevent scrolling on the entire page */
}

.container {
  display: flex;
  flex-direction: row;
  max-height: 100vh; /* Ensure the container does not exceed the viewport height */
  overflow: hidden; /* Hide overflow to prevent scrolling */
  /* Remove or adjust padding and margin as necessary */
}

.map-container {
  flex-direction: row;
}

#explanation,
#question-container {
  width: 100%;
  margin: 20px 0;
}

#question-container {
  display: grid;
  border-radius: 10px;
  width: 1620px;
  height: 200px;
  justify-content: center;
  align-content: center;
  font-size: 1rem;
  margin: 50px;
  margin-bottom: 0px;
}

.map-header {
  position: absolute; /* Ændret til absolute position for at tage udgangspunkt i .map-container */
  top: 0px; /* Juster denne værdi efter behov for at positionere map-header opad */
  left: 20px;
  font-size: 1.2rem;
  color: white;
  background-color: #145a32;
  padding: 8px 12px;
  border-radius: 5px;
  line-height: 1;
}

.map-container {
  flex: 0.7;
  /* overflow: hidden; */
  display: flex;
  justify-content: right;
  padding-left: 100px;
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: rgba(224, 224, 224, 0); /* Juster gennemsigtigheden her */
  position: relative; /* Tilføjet: Position relative for at gøre det lettere at positionere map-header */
}

.country {
  fill: #81c784; /* Light Green */
  stroke: transparent;
  stroke-width: 1;
  cursor: pointer;
}

.country:hover {
  fill: #66bb6a; /* Darker Green on hover */
}

/* quiz.css */

.controls {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  margin-top: 30px;
}

.intro-image {
  text-align: center; /* Center the text and image */
  width: 100%;
  background-color: rgba(224, 224, 224, 0); /* Juster gennemsigtigheden her */
  height: 100vh;
  max-height: 100%;
  overflow: hidden;
}
.intro-container {
  display: flex;
  flex-direction: column;
  width: 50%; /* Adjust the width to a smaller percentage or fixed size */
  max-height: 100%; /* Adjust the max height to a smaller viewport percentage */
  margin: 0 auto; /* Center the container */
  overflow: hidden; /* Hide any overflowing content */
}

.quiz-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  text-align: center;
  background-color: #f4f4f4;
  padding: 20px;
  margin: 10px;
  font-size: 1.1rem;
  border-radius: 10px;
  height: 40%;
}

.additional-info-box {
  text-align: center;
  padding: 20px;
  background-color: #f9f9f9;
  margin: 5px;
  font-size: 1.1rem;
  border-radius: 10px;
  height: 60%;
}

.quiz-info-box {
  text-align: center;
  width: 500px;
  background-color: #f9f9f9;
  margin: 5px;
  padding: 5px;
  font-size: 1.5rem;
  border-radius: 10px;
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;
  background-color: rgba(224, 224, 224, 0); /* Juster gennemsigtigheden her */
}

.btn,
.start-btn,
.next-btn,
.btn.answer-btn {
  padding: 12px 24px;
  border-radius: 25px;
  border: none;
  background: var(--color-primary);
  color: white;
  cursor: pointer;
  transition: background 0.3s ease-in-out, transform 0.2s ease-in-out;
  font-size: 1rem;
  font-weight: bold;
}

/* Correct Answer Style */
.btn.correct {
  background-color: #4caf50; /* Green for correct answers */
  color: white; /* White text for better readability */
  border: 2px solid #388e3c; /* Darker green border for emphasis */
}

/* Wrong Answer Style */
.btn.wrong {
  background-color: #f44336; /* Red for wrong answers */
  color: white; /* White text for better readability */
  border: 2px solid #d32f2f; /* Darker red border for emphasis */
}

.btn:hover,
.start-btn:hover,
.next-btn:hover,
.btn.answer-btn:hover {
  background: var(--color-secondary);
}

h1,
p {
  color: var(--color-primary);
}

button {
  padding: 12px 24px;
  font-size: 16px;
  background: var(--color-text);
  color: var(--color-background);
  border: none;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s ease;
  justify-content: center;
  align-items: center;
}

button:hover {
  background: var(--color-secondary);
}

.container.quiz-started {
  flex-direction: column;
}

#start-btn img {
  height: 50px; /* Adjust the size as needed */
  width: 50px;
  margin-left: 20px; /* Adds space between the icon and the text */
  vertical-align: middle;
}

.question-image {
  max-width: 100%; /* Ensures the image is not wider than its container */
  height: auto; /* Maintains the aspect ratio of the image */
  display: block; /* Avoid inline behavior */
  margin: 0 auto; /* Center the image */
  border-radius: 5px; /* Optional: Rounds the corners of the image */
  padding: 10px 0; /* Optional: Adds some space above and below the image */
}

#next-btn img {
  height: 50px; /* Adjust the size as needed */
  width: 50px;
  margin-left: 20px; /* Adds space between the icon and the text */
  vertical-align: middle;
}

#back-to-index-btn img {
  height: 50px; /* Adjust the size as needed */
  width: 50px;
  margin-left: 20px; /* Adds space between the icon and the text */
  vertical-align: middle;
}

#chart-container {
  width: 1920px;
  height: 600px;
  justify-content: center;
  align-items: center;
}

.parent-container {
  /* The parent element of #chart-container */
  display: flex;
  justify-content: center; /* Centers horizontally in the flex container */
  align-items: center; /* Centers vertically in the flex container */
  height: 100%; /* Make sure the parent has a height for vertical centering to work */
}
